<table class="epp-table">
    <thead>
        <th v-if="computedConfig.selection.enabled" width="30px" :class="[ {'deselect-all': selections.length > 0}, 'select']" @click="computedConfig.selection.onClearSelections()"><i class="glyphicon glyphicon-remove-circle"></i></th>
        <th v-for="column in computedConfig.columns" :width="column.width">
            <table-column-header
                :sort-key="column.dataKey"
                :sort-criteria="sortState"
                :tooltip="column.tooltip"
                @sort="sortData">{{ column.label }}</table-column-header>
            <!-- Filter component selection -->
            <div v-if="column.filterOptions">
                <search v-if="column.filterOptions.type == 'search'" v-model="column.filterOptions.config.values"></search>
                <multi-select v-if="column.filterOptions.type == 'multi-select'" :options="column.filterOptions.config.options" @onSelect="column.filterOptions.config.values = $event"></multi-select>
                <auto-multi-select
                        v-if="column.filterOptions.type == 'auto-multi-select'"
                        :options="column.filterOptions.config.options"
                        :state="column.filterOptions.state"
                        :tooltip="column.filterOptions.config.tooltip"
                        @onAutoToggle="column.filterOptions.config.onAutoToggle($event)"
                        @onSelect="column.filterOptions.config.values = $event"></auto-multi-select>
            </div>
        </th>
    </thead>
    <tbody>
        <tr @click="computedConfig.onRowClick(row, $event)" v-if="computedData.length" v-for="row in computedData" :class="getRowClass(row)" >
            <td v-if="computedConfig.selection.enabled" class="select" @click="computedConfig.selection.onSelect(row, $event)">
                <i class="glyphicon glyphicon-ok-circle"></i>
            </td>
            <td v-for="column in computedConfig.columns">
                <span v-if="!column.formatFn && !column.component">{{ row[column.dataKey] }}</span>
                <span v-if="column.formatFn && !column.component">{{ column.formatFn(row[column.dataKey]) }}</span>
                <span v-if="column.component">
                    <component :is="column.component" :props="column.componentData(row)"></component>
                </span>
            </td>
        </tr>
        <tr v-if="!computedData.length">
            <td class="no-results" :colspan="getColumnCount()">
                There are no results
            </td>
        </tr>
    </tbody>
</table>