<div class="share" v-if="selectedEyepieces.length > 0">
    <label onclick="this.nextSibling.select()"><i class="glyphicon glyphicon-share"></i> Share this eyepiece list</label>
    <input onclick="this.select()" readonly type="text" v-bind:value="shareUrl">
    <span @click="openRedditTableModal" class="epp-button reddit-share-button"><img height="24" width="24" src="/reddit-alien.png"> Share On Reddit</span>
    <share-reddit-table
        v-if="showRedditTableModal"
        v-on:closeClicked="showRedditTableModal = false"
        :telescopes="telescopes"
        :selectedTelescope="telescope"
        :selectedEyepieces="selectedEyepieces"></share-reddit-table>
</div>
