@import "../../../sass/_variables.scss";

.share {
	display: flex;
	align-items: center;
	border-top: 3px solid $primary;
	font-size: 18px;
	border-radius: 0 0 3px 3px;
	background: $primary-gradient;
	padding: 8px 8px 8px 15px;
	color: #fff;
}

.share label {
	cursor: pointer;
	font-weight: bold;
	margin: 0;
}

.share input {
	flex: 1;
	margin-left: 20px;
	padding: 8px;
	border: none;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.1);

	&:hover {
		background: rgba(255, 255, 255, 0.15);
	}
}
