.header {
	display: flex;
	padding: 0 50px;
	height: 75px;
	background: #18181d;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	align-items: center;
	justify-content: space-between;

	.logo {
		position: relative;
		vertical-align: middle;
		top: 1px;
	}

	.nav-link {
		position: relative;
		top: 2px;
		text-decoration: none;
		margin-left: 30px;
		color: #fff;
		font-size: 18px;
		font-weight: bold;

		&:hover {
			text-decoration: none;
			color: $primary;
		}
	}

	.logout-link {
		margin-left: 10px;
	}
}