$primary: #aa6dca;
$primary-gradient: linear-gradient(25deg, rgba(104,70,163,1) 0%,rgba(191,102,214,1) 100%);
$primary-gradient-hover: linear-gradient(25deg, rgb(117, 82, 186) 0%, rgb(210, 114, 237) 100%);
$primary_gradient_transparent: linear-gradient(rgba(200, 165, 220, 0.15), rgba(200, 165, 220, 0.06));
$primary_gradient_transparent_hover: linear-gradient(rgba(200, 165, 220, 0.2), rgba(200, 165, 220, 0.1));
$success-gradient: linear-gradient(25deg, rgb(91, 128, 55) 0%, rgb(157, 212, 102) 100%);
$success-gradient-hover: linear-gradient(25deg, rgb(109, 153, 66) 0%, rgb(177, 237, 116) 100%);
