@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";
@import "functions";
@import "forms";

[v-cloak] {
  display: none;
}

h1 {
  margin-bottom: 30px;
}

.content {
  display: flex;
}

.sidebar {
  width: 300px;
  min-width: 300px;
  border-right: 1px solid #e2e2e2;
  padding: 15px;
}

.panel {
  flex: 1;
  padding: 15px;
}

.navbar {
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding: 0;
}

.asterisk {
  font-weight: bold;
  vertical-align: super;
  color: #6e2a65;
}

.eyepiece-comparison {
  margin-top: 30px;
}

.search-example {
  opacity: 0;
  color: $brand-pink;
  font-size: 14px;
  margin-top: 6px;
  font-weight: bold;
  transition: opacity 0.2s ease;
}

.search-field:focus ~ .search-example {
  opacity: 1;
}

.search-field:valid ~ .search-example {
  opacity: 0;
}

.search-results {
  position: absolute;
  z-index: 2;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 10px;
}

.selected {
  background: #b1dda3;
  font-weight: bold;
}

.search-result {
  cursor: pointer;
}

.selection-tools {
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.warning-magnification {
  color: red;
  font-weight: bold;
}

.pupil-reference {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 3px;
  position: absolute;
  width: 150px;
  top: 25px;
  right: 0;
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  .dl-horizontal {
    margin-bottom: 0;

    dt {
      width: 55px;
    }

    dd {
      margin-left: 70px;
    }
  }
}

.comparison-telescope-form {
  position: relative;
  margin-top: 25px;
}
