
// Fonts

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

[v-cloak] {
  display: none;
}

h1 {
  margin-bottom: 30px;
}

.asterisk {
  font-weight: bold;
  vertical-align: super;
  color: $brand-danger;
}

.search {
  position: relative;
  margin-bottom: 15px;
}

.search input {
  padding-left: 60px;
}

.search-icon {
  font-size: 30px;
  position: absolute;
  top: 8px;
  left: 12px;
}

.search-results {
  position: absolute;
  z-index: 2;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 10px;
}

.selected {
  background: #b1dda3;
  font-weight: bold;
}

.search-result {
  cursor: pointer;
}

.selection-tools {
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.warning-magnification {
  color: red;
  font-weight: bold;
}

.pupil-reference {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 3px;
  position: absolute;
  width: 150px;
  top: 25px;
  right: 0;
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  .dl-horizontal {
    margin-bottom: 0;

    dt {
      width: 55px;
    }

    dd {
      margin-left: 70px;
    }
  }
}

.comparison-telescope-form {
  position: relative;
}